@media(max-width:1024px) {
    header #mainNav {
        display: none;
    }

    .hamburger,
    .times,
    .themsButton {
        display: block !important;
    }

    .hero .left img {
        width: 260px;
        height: 508px;
    }

    .hero .right h1 {
        font-size: 2rem;
    }

    .hero {
        padding-top: 2rem;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 91%, 0 100%);
    }

    section.about .about-image {
        height: 350px;
    }

    section.services .cardWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section.work .cardWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section.blog .cardWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 96%, 0 100%);
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }


}

@media (max-width:576px) {

    /* For Phones */
    section.about .container {
        flex-direction: column;
    }

    .hero .left img {
        width: 208px;
        height: 387px;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 95%, 0 100%);
        padding-bottom: 4rem;
    }

    section.contact input,
    section.contact .inputWrap-2 textarea {
        padding: 0.5rem;
        font-size: 15px;
    }

    /*
    section.contact .cardWrapper .card i {
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }

    section.contact .cardWrapper .card h2 {
        font-size: 15px;
    }

    section.contact .cardWrapper .card h6 {
        font-size: 10px;
    }
*/
    section.services .cardWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.reviews .slider .slide {
        padding: 0;
    }

    .hero {
        flex-direction: column;
    }

    .hero .left {
        margin-top: -1.2rem;
    }

    .hero .right {
        margin-top: -15rem;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    section.about h1 {
        text-align: center;
    }

    section.about p {
        text-align: justify;

    }

    section.about .social {
        justify-content: center;
        align-items: center;
    }

    section.freeLancer {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 90%, 0 100%);
        padding-bottom: 6rem;
    }

    .sectionHeading+p {
        margin-bottom: 3rem;
        text-align: justify;
    }

    section.work .cardWrapper {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.work .cardWrapper .card {
        position: relative;
        height: auto;
        width: 270px;
    }

    section.freeLancer h1 {
        font-size: 1.7rem;
        line-height: 1.4;
    }

    section.contact .cardWrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.contact .cardWrapper .card i {
        font-size: 3rem;
        margin: 0;
    }

    section.contact .inputWrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        padding: 2rem 0;
    }

    .GitHubSkyLines .container .render-viewer {
        height: 25rem;
    }

    .GitHubSkyLines {
        margin-top: 3rem;
    }

    .GitHubSkyLines .container .sectionHeading {
        line-height: 1.5;
    }
}



@media (min-width:768px) {
    .container {
        max-width: 720px;
    }

}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}

.siteMainWrapper {
    position: relative;
}

.hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    color: var(--pure);
    outline: none;
    cursor: pointer;

}

.hamburger i,
.times i,
.themsButton i {
    font-size: 30px;
}

.mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(214, 209, 209, 0.9);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.open {
    transform: translateX(0);

}

.times {
    display: none;
    position: fixed;
    top: 40px;
    right: 43px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;

}

.themsButton {
    display: none;
    position: fixed;
    top: 90px;
    right: 36px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;

}

.mobileNav ul {
    list-style-type: none;
}

.mobileNav ul li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

.mobileNav ul li {
    padding: 0.5rem 0;
    font-family: 'Lato', sans-serif;

}