@import url(utilities.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* Create variables here */
:root {
    --primary: #3DCFD3;
    --dark: #151414;
    --pure: #ffff;
    --ternary: #898989;
    --light: #f2f2f2;
}

/*  */

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--dark);
    /* height: 800px; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 1rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

.hero {
    padding: 1rem 0;
}

.hero .left img {
    width: 400px;
    height: 620px;
}

.hero .right {
    color: var(--pure);
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;

}

.hero .right h1 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right {
    margin-top: -7rem;
}

section {
    padding: 4rem 0;
}

section.about .about-image {
    height: 400px;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;

}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    background: var(--dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 0.6rem;
    transition: all 0.3s ease-in;

}

section.about .social a:hover{
    background: var(--primary);
}

section.about .social a:active{
    transform: scale(0.9, 0.9);
}

section.about .social a i {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}